* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235, 230, 230);
}

.articles__en {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.article {
  display: flex;
  background-color: white;
}

.article > img {
  min-width: 130px;
  height: 75px;
  object-fit: cover;
}

.article > a {
  text-decoration: none;
  color: black;
}

.article > a:visited {
  color: purple;
}

.article--text {
  height: 65px;
  padding: 5px;
  overflow: hidden;
  position: relative;
}

.article--text > h3 {
  font-size: 11px;
}

.article--text > p {
  font-size: 9px;
  position: absolute;
  bottom: 5px;
}

.article__header {
  padding: 10px;
  background-color: white;
}

.article__back {
  display: flex;
  width: fit-content;
  align-items: center;
  border: none;
  background-color: transparent;
}